root = true

[*]
charset = utf-8
end_of_line = LF
trim_trailing_whitespace = true

[*.php]
indent_style = tab
indent_size = 2
insert_final_newline = true

[*.html]
indent_style = tab
indent_size = 2

[*.xml]
indent_style = tab
indent_size = 2

[*.css]
indent_style = space
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 2
