<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.packal</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1F4D4C11-58BD-413E-9E17-D93F880D403C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1FFB920-0CA6-4611-ACCE-9D08E0295195</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2BF4F0C5-F584-44E2-9216-78FF884C965C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC36F13D-1A70-4093-948E-569723637CD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>47D96588-97DE-4BD3-BCD4-E23FC751B881</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75EA4D1A-6D61-4028-8023-81F9AFFEA680</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>75EA4D1A-6D61-4028-8023-81F9AFFEA680</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3825148-0DEF-4920-8AA9-2675D7B90496</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7955C2E8-A67A-423F-AF99-078BB269996F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47D96588-97DE-4BD3-BCD4-E23FC751B881</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BD4CD001-D2F2-4403-ADAE-991B88EF9C43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3825148-0DEF-4920-8AA9-2675D7B90496</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C1FFB920-0CA6-4611-ACCE-9D08E0295195</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD4CD001-D2F2-4403-ADAE-991B88EF9C43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC36F13D-1A70-4093-948E-569723637CD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEB94641-1F4D-4E1C-82DD-69E4E582A9E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>A package manager for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Packal Updater</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php packal-controller-script.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75EA4D1A-6D61-4028-8023-81F9AFFEA680</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>com.packal.start</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1F4D4C11-58BD-413E-9E17-D93F880D403C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>packal</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Talking to server and processing data...</string>
				<key>script</key>
				<string>php script.php "{query}"</string>
				<key>title</key>
				<string>Update your packages</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C1FFB920-0CA6-4611-ACCE-9D08E0295195</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php packal-controller-script.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD4CD001-D2F2-4403-ADAE-991B88EF9C43</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php script-set-option.php "{query}"</string>
				<key>title</key>
				<string>Set option</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>47D96588-97DE-4BD3-BCD4-E23FC751B881</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>set-option</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>7955C2E8-A67A-423F-AF99-078BB269996F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Packal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F3825148-0DEF-4920-8AA9-2675D7B90496</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>env</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC36F13D-1A70-4093-948E-569723637CD2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>packal</string>
				<key>text</key>
				<string>Packal Info</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BF4F0C5-F584-44E2-9216-78FF884C965C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EEB94641-1F4D-4E1C-82DD-69E4E582A9E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See https://github.com/shawnrice/packal
Or http://www.packal.org</string>
	<key>uidata</key>
	<dict>
		<key>1F4D4C11-58BD-413E-9E17-D93F880D403C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>2BF4F0C5-F584-44E2-9216-78FF884C965C</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>47D96588-97DE-4BD3-BCD4-E23FC751B881</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>75EA4D1A-6D61-4028-8023-81F9AFFEA680</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7955C2E8-A67A-423F-AF99-078BB269996F</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>BD4CD001-D2F2-4403-ADAE-991B88EF9C43</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>C1FFB920-0CA6-4611-ACCE-9D08E0295195</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DC36F13D-1A70-4093-948E-569723637CD2</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>EEB94641-1F4D-4E1C-82DD-69E4E582A9E4</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>F3825148-0DEF-4920-8AA9-2675D7B90496</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.packal.org</string>
</dict>
</plist>
