<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.packal.shawn.patrick.rice</string>
	<key>connections</key>
	<dict>
		<key>25E9E324-545E-41FF-84DB-9BAC959BD6DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3825148-0DEF-4920-8AA9-2675D7B90496</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AE61FC74-BE9B-40CB-A73B-EFEB7C10A19C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5D87F5EF-371D-4C05-A410-30A647BD83EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25E9E324-545E-41FF-84DB-9BAC959BD6DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C1FFB920-0CA6-4611-ACCE-9D08E0295195</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD4CD001-D2F2-4403-ADAE-991B88EF9C43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E7387A23-9D8C-4328-BA35-1297450274F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3825148-0DEF-4920-8AA9-2675D7B90496</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>A package manager for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Packal</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7E1A4F4B-A5EB-4D2A-807B-2C3AA5341204</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Packal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F3825148-0DEF-4920-8AA9-2675D7B90496</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php scripts/packal-controller-script.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25E9E324-545E-41FF-84DB-9BAC959BD6DA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>&amp;*&amp;%$packal</string>
				<key>runningsubtext</key>
				<string>Gathering information about workflows.</string>
				<key>script</key>
				<string>//include('scripts/packal-controller-filter.php');</string>
				<key>subtext</key>
				<string>Manage your package.</string>
				<key>title</key>
				<string>Packal</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5D87F5EF-371D-4C05-A410-30A647BD83EA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>AE61FC74-BE9B-40CB-A73B-EFEB7C10A19C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>.</string>
				<key>runningsubtext</key>
				<string>Looking for new packages</string>
				<key>script</key>
				<string>php script.php "{query}"</string>
				<key>title</key>
				<string>Update your packages</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C1FFB920-0CA6-4611-ACCE-9D08E0295195</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php scripts/update.php</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E7387A23-9D8C-4328-BA35-1297450274F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php scripts/packal-controller-script.php</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BD4CD001-D2F2-4403-ADAE-991B88EF9C43</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>25E9E324-545E-41FF-84DB-9BAC959BD6DA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>5D87F5EF-371D-4C05-A410-30A647BD83EA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7E1A4F4B-A5EB-4D2A-807B-2C3AA5341204</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AE61FC74-BE9B-40CB-A73B-EFEB7C10A19C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>BD4CD001-D2F2-4403-ADAE-991B88EF9C43</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C1FFB920-0CA6-4611-ACCE-9D08E0295195</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E7387A23-9D8C-4328-BA35-1297450274F7</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>F3825148-0DEF-4920-8AA9-2675D7B90496</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://packal.org</string>
</dict>
</plist>
