/* 

	This file is an absolute mess. 
	Everything is disorganized.
	Somethings are in px other in em or rem.
	There are testing artifacts everywhere and
	redundant code. If you're reading this,
	then I haven't done that yet... 

	Embarrassing.

	I need to clean it up, hardcore. 

*/


/* Layout */
#header {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
}

#container {
    height: 680px;
    width: 1100px;
    margin: 0px auto;
    /*border-right: 1px solid black;*/
    /*border: solid green 2px;*/
    word-wrap: break-word;
}

#sidebar {
    width: 160px;
    padding-top: 6.5em;
    float: left;
    border: none;
    /*border-right: 3px gray dashed;*/
    height: 100%;
    position: fixed;
}

#content {
    width: 920px;
    float: left;
    position: relative;
    margin-left: 180px;
    border: none;
    border-right: 1px black solid;
}

.section {
    position: absolute;
    clear: both;
    margin-top: 100px;
    width: 97%;
    line-height: 1.4em;
}

/* Colors on main sections */
#sidebar {
    background: #333;
    overflow: hidden;
}

/* Background Colors */
#background-color {
    background-color: #360758;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -9999;
    opacity: .5;
    border: none;
}

a {
    color: white;
}

#background {
    z-index: -99999;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: .8;
    border: none;
    background-image: url('../images/ornate2.png');
}

td {
    border: none;
    vertical-align: middle;

}

#workflow-list {
    width: 100%;
}

.test {
    background-color: #DEDEDE;
    -webkit-border-radius: 10px;
    border-radius: 1em;
    width: 100%;

}

.background-a, .background-b {
    color: black;
    text-shadow: none;
    /*background-color: #cdcdcd;*/
    /*border: none;*/
    margin:0;
    background-color: #DEDEDE;
}

.spacer td, .spacer tr {
    line-height: .5em;
    border: none;
    padding: 0;
    margin: 0;
    border-spacing: 0;

}

.tdd {
    /*padding: .25rem 1rem .25rem 1rem;*/
    color: black;
    line-height: 2em;
    margin: 0;
    border: none;
    padding: 0 1em 0 0;
    width: 50%;

}

.updating-status {
    font-size: .8em !important;
    color: black;
}

.td-input {
    padding: .25rem 0 .25rem .5rem;
    width: 30px;
}

.update-button {
    text-align: right;
}

.fancy-text {
	position: relative;
	float: right;
	margin-right: 2em;
	top: -5px;

}
.fancy-text input {
	line-height: 1.5em;
	font-size: 1.2em;
	height: 2em;
	padding: 1px 1em;
	text-align: center;
	background-color: #EDEDED;
	border: 2px solid #999;
}

.fancy-text input:disabled{
	background-color: #aaa;
	border-color: #888;
}

.workflow-not-managed {
}


div.nobundle {
	height: 25px !important;
	background: #999;
	color: #333;
	font-size: .9em;
	margin-bottom: 3px;
	border-radius: 1.2em;
	line-height: 25px;
	padding: 1em 0 1em 3em;
	max-width: 40%;
}

/*#workflow-list table {
	background-color: transparent;
}*/
/*#672c98  Mid purple */
/*#390655  Mid-Dark purple */
/*#360758  Dark purple */
/*#a4e0ea  Light Blue */
.close-box {
    font-size: .8em;
    position: relative;
    margin-bottom: 0;
    margin-top: -2em;
    width: 100%;
    text-align: right;
    top: 1em;
    left: 3em;
}

.divider {
    color: #fff;
    border: none;
    height: 1px;
    background-color: #555;
}

.message {
    width: 80%;
    display: inline-block;
    position: relative;
    padding: 1em 3em 1em 3em;
    margin: 0;
    text-align: center;
    text-shadow: none;
    opacity: .65;
    border: 2px solid #2E3884;
    cursor: pointer;
}

.informational {
    background-color: #61B4CF;
    color: #2E3884;
}

body {
    /*color: #111;*/
    color: #cdcdcd;
    background: none;
    /*background:#414141;*/
    /*font-size:3.2rem;*/
    /*text-shadow: 0px 1px 1px #390655;*/
    text-shadow: 0px 1px 1px #333;
    padding: 0;
    	text-rendering: optimizeLegibility;

}

.letterpress h1 {
    margin:0;
    padding:0;
    font-size:60px;
    color: #4B97A3;
    /*text-shadow: 0 1px 2px #FFF;*/
    text-shadow:0 1px 2px rgba(255, 255, 255, 0.8);
}

.hide {
    display: none;
}

.click-label {
    font-size: 12px;
}

body {
    font: 12px/14px Segoe, Tahoma, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-family: 'Avenir Next';

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 1px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .8rem;
}

/*  For the Progress Bars */
.status-outer {
	width: 200px;
	height: 6px;
	border: solid #222 2px;
/*	display: table-cell;*/
	vertical-align: middle;
	padding: 1px 3px;
	border-radius: 10px;
	overflow: hidden;
}

.status-inner {
	width: 100%;
	height: 2px;
	margin-top: 2px;
	background-color: #444;

}


body, p, div {
    word-wrap: break-word;
    white-space: normal;
    text-align: justify;
}

#messages {
    width: 60%;
    min-height: 3rem;
    /*border: 1px dashed gray;*/
    text-align: center;
    float: left;
    clear: both;
    padding: 0 12em;
}

#workflow-bundles {
    width: 100%;
}

#workflow-options {
    width: 100%;
}

table {
    /*border: 1px dashed gray;*/
    border-collapse: collapse;
}


/*tr:hover {
	background: #dedede;
	padding: 1rem 0;
}

*/
#buttons {
    width: 100%;
    text-align: center;
    padding: 1rem;
}

#sidebar ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

#sidebar li {
    padding: 2em 0 2em 0;
    cursor: pointer;
    color: #bebebe;
    letter-spacing: 1px;
    border-top: 1px solid #555;
}

#sidebar li:last-child {
    border-bottom: 1px solid #555;
}

#sidebar .active {
    background: #393939;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    -webkit-box-shadow:inset 0px 1px 0px 0px #e6cafc;
    box-shadow:inset 0px 1px 0px 0px #e6cafc;
    background-color:#a126ff;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #a946f5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:65px;
    line-height:65px;
    width:131px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #8628ce;
}

.button:hover {
    background-color:#a341ee;
}

.button:active {
    position:relative;
    top:1px;
}

.option {
	border: 1px gray solid;
	background-color: #DEDEDE;
	height: 2.6em;
	color: black;
	text-shadow: none;
	padding: 1.1em 0 0 1em;
	border-radius: 1em;
	font-size: 1.2em;
	width: 100%;
	margin: 1em 0;
}
.fancy-select {
    position: relative;
	float: right;
    top: -5px;
    margin-right: 3.5em;
}

.option select {
	background: #EEEEEE;
	border: 2px solid #999999; border-radius: 1.5em;
	width: 100px;
	font-size: 1.2em;
	line-height: 2em;
	padding: 0 0 0 1.4em;
	position: relative;
	top: -4px;
	   -webkit-appearance: none;
/*    background: url('../images/arrow_down.png') no-repeat right #ddd; */

}

.label-text {

	position: relative;
	display: inline;
	top: 3px;
	font-size: 1.2em;
}

.information {
	font-size: 1.2em;
	color: #CDCDCD;
	letter-spacing: .5px;
	padding: 0 3em;
}

.information a {
	color: #CDCDCD;
	text-decoration: none;
}

/* I think I hate the colors on these switches. Change. Tweak... */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: right;
    top: -5px;
    margin-right: 4em;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


#config-options {

}

.update-button-button {
	border: 2px solid #999;
	background-color: #EDEDED;
	border-radius: 2em;
	font-size: .8em;
	margin: 1em;
	width: 120px;
	line-height: 1.2em;
	padding: .5em;
	cursor: pointer;
}

.update-button-button:hover {
	background-color: #FEFEFE;
	border: 2px solid #AAA;

}

.body-text {

	background-color: #DEDEDE;
	color: black;
	text-shadow: none;
	padding: 1em 3em;
	margin-bottom: 3em;
}

.body-text a {
	color: purple;
}