/* Variables */
/* Layout */
#header {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
}
#container {
  height: 680px;
  width: 1100px;
  margin: 0px auto;
  word-wrap: break-word;
}
#sidebar {
  width: 160px;
  padding-top: 6.5em;
  float: left;
  border: none;
  height: 100%;
  position: fixed;
}
#content {
  width: 920px;
  float: left;
  position: relative;
  margin-left: 180px;
  border: none;
  border-right: 1px black solid;
}
.section {
  position: absolute;
  clear: both;
  margin-top: 100px;
  width: 97%;
  line-height: 1.4em;
}
/* Colors on main sections */
#sidebar {
  background: #333;
  overflow: hidden;
}
/* Base Styles */
body {
  font-size: 12pt;
  font-family: Segoe, Tahoma, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background-color: #eeeeee;
  color: #444444;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}
h1 {
  font-size: 24pt;
}
h2 {
  font-size: 21pt;
}
h3 {
  font-size: 18pt;
}
h4 {
  font-size: 14.399999999999999pt;
}
h5 {
  font-size: 12pt;
}
h6 {
  font-size: 9.600000000000001pt;
}
body,
p,
div {
  word-wrap: break-word;
  white-space: normal;
  text-align: justify;
}
table {
  border: 1px dashed gray;
  border-collapse: collapse;
  min-width: 50%;
}
table tr td {
  padding: 3pt 6pt;
  font-size: 11.399999999999999pt;
}
/*******************/
/* Sidebar Styling */
/*******************/
#sidebar ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
#sidebar li {
  padding: 2em 0 2em 0;
  cursor: pointer;
  color: #bebebe;
  letter-spacing: 1px;
  border-top: 1px solid #555;
}
#sidebar li:last-child {
  border-bottom: 1px solid #555;
}
#sidebar .active {
  background: #393939;
}
.hide {
  display: none;
}
