<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>this.bund.id</string>
	<key>connections</key>
	<dict>
		<key>0C30F3BE-8AF9-4B1C-81B2-3C9F12622165</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E76434A-F84B-4C9E-B562-32A5944B1E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7E76434A-F84B-4C9E-B562-32A5944B1E33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC76C3E1-0739-4CDA-B07D-5CB955ECDE3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>com.test</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>test</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>DC76C3E1-0739-4CDA-B07D-5CB955ECDE3E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>test configure</string>
				<key>subtext</key>
				<string>Setup your preferences (display &amp; file storage).</string>
				<key>text</key>
				<string>Configure Workflows Help Workflow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C30F3BE-8AF9-4B1C-81B2-3C9F12622165</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8F883224-360C-4F10-BB2A-6DA30611A34C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>59</integer>
				<key>script</key>
				<string>if (!(file_exists("./config/whw.config"))) {
	echo "Config file not found… running WHW configuration.";
	shell_exec("open ./config/whw-config.app");
} else {
	shell_exec("open ./config/whw-config.app");
}</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E76434A-F84B-4C9E-B562-32A5944B1E33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>public.php-script</string>
					<string>public.plain-text</string>
					<string>public.png</string>
					<string>public.xml</string>
				</array>
				<key>name</key>
				<string>fileaction</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>9E5D8C83-F596-4741-AE4C-C73E303EC061</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>keyword</string>
				<key>subtext</key>
				<string>This is the subtext</string>
				<key>text</key>
				<string>This is the title</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>311ED3C0-E7A6-40CF-9E24-C9D6CEE7A389</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>EF6C6119-92C3-40A4-9791-9A6FE1261C5E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>I'm going to paste to the thingie.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F9DE7D9E-3F18-4149-9FD8-AAED9C02AED7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>1F8877B5-220A-4143-98F9-3996FA58C908</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>I automatically paste things</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E36DA15F-8687-4BEA-BC5C-BA5B599AF3C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>contact</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>850CCFF5-53F7-45B4-9B62-3F237A1C4C3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>scriptfilter</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Pleasewait Subtext</string>
				<key>script</key>
				<string>here is the script</string>
				<key>subtext</key>
				<string>Placeholder Subtext</string>
				<key>title</key>
				<string>Placeholder Title</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C20B91BD-0B68-4FE9-A158-415FB6145F82</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>filefilter</string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>subtext</string>
				<key>title</key>
				<string>title</string>
				<key>types</key>
				<array>
					<string>public.php-script</string>
					<string>public.png</string>
					<string>public.xml</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>382331CD-3452-4D93-AA0C-4DED7B9CCCC6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>I'm a running script!</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>F0809BD6-BA58-4C7C-9A30-79E230C730E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>2C099712-F5A2-4394-A03D-A5C3DA6441B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>fallback subtext</string>
				<key>text</key>
				<string>fallbacktext</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>764B415D-8702-4D29-B2A2-2133E0E25AC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Posted Notification Title</string>
				<key>title</key>
				<string>Posted notification Title (show regardless)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BB126EBB-5C44-4E78-BFC1-0AFE863F9CD7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array/>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>860461EF-DC5D-4C49-9909-2B1849103B7F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Post note arg text</string>
				<key>title</key>
				<string>Post notification (show if arg)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6E3DBD5B-08A3-4943-91DF-951927ACBA6C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>B71E480E-258E-48D1-A4E9-71638E0C9297</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>asdf</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>02209BD8-9B12-4683-9CEC-007550BAE8DC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Growl Notification Text</string>
				<key>title</key>
				<string>Growl Notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9D2FBED6-C3EE-4BE1-94F1-20D52A41541C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>D3ECE12D-B9E0-45BD-B566-E9EED7BB7B4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>CC902AD0-B223-4A22-B527-1124853C4050</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1C9B806-3382-4214-B4B1-4DB673FC8803</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AB2060A8-39FA-4609-91C7-EB65E1300DD4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>A073787B-F263-4AFA-ADA1-40EA5F27E969</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>README README README</string>
	<key>uidata</key>
	<dict>
		<key>02209BD8-9B12-4683-9CEC-007550BAE8DC</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>0C30F3BE-8AF9-4B1C-81B2-3C9F12622165</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1F8877B5-220A-4143-98F9-3996FA58C908</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>2C099712-F5A2-4394-A03D-A5C3DA6441B1</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>311ED3C0-E7A6-40CF-9E24-C9D6CEE7A389</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>382331CD-3452-4D93-AA0C-4DED7B9CCCC6</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>6E3DBD5B-08A3-4943-91DF-951927ACBA6C</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>764B415D-8702-4D29-B2A2-2133E0E25AC5</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>7E76434A-F84B-4C9E-B562-32A5944B1E33</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>850CCFF5-53F7-45B4-9B62-3F237A1C4C3D</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>860461EF-DC5D-4C49-9909-2B1849103B7F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>8F883224-360C-4F10-BB2A-6DA30611A34C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>9D2FBED6-C3EE-4BE1-94F1-20D52A41541C</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>9E5D8C83-F596-4741-AE4C-C73E303EC061</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A073787B-F263-4AFA-ADA1-40EA5F27E969</key>
		<dict>
			<key>ypos</key>
			<real>1330</real>
		</dict>
		<key>AB2060A8-39FA-4609-91C7-EB65E1300DD4</key>
		<dict>
			<key>ypos</key>
			<real>1210</real>
		</dict>
		<key>B1C9B806-3382-4214-B4B1-4DB673FC8803</key>
		<dict>
			<key>ypos</key>
			<real>1090</real>
		</dict>
		<key>B71E480E-258E-48D1-A4E9-71638E0C9297</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>BB126EBB-5C44-4E78-BFC1-0AFE863F9CD7</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C20B91BD-0B68-4FE9-A158-415FB6145F82</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>CC902AD0-B223-4A22-B527-1124853C4050</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>D3ECE12D-B9E0-45BD-B566-E9EED7BB7B4A</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>DC76C3E1-0739-4CDA-B07D-5CB955ECDE3E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>E36DA15F-8687-4BEA-BC5C-BA5B599AF3C5</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>EF6C6119-92C3-40A4-9791-9A6FE1261C5E</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F0809BD6-BA58-4C7C-9A30-79E230C730E2</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F9DE7D9E-3F18-4149-9FD8-AAED9C02AED7</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>here-web</string>
</dict>
</plist>
